<!-- app/templates/bissecao.html -->
{% extends 'base.html' %}
{% block title %}Bisseção{% endblock %}
{% block content %}
<h2>Calculadora - Método da Bisseção</h2>
<form method="POST">
    <input type="text" name="funcao" placeholder="Função (ex: x**3 - x - 2)" required>
    <input type="number" step="any" name="a" placeholder="Valor inicial a" required>
    <input type="number" step="any" name="b" placeholder="Valor inicial b" required>
    <input type="number" step="any" name="tolerancia" value="0.0001" placeholder="Tolerância" required>
    <input type="number" name="max_iteracoes" value="50" placeholder="Máx. Iterações" required>
    <button type="submit">Calcular</button>
</form>
<a class="button-link" href="{{ url_for('home') }}">Voltar para o início</a>
{% endblock %}